<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <listener>
        <listener-class>com.sun.xml.ws.transport.http.servlet.WSServletContextListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>DrugService</servlet-name>
        <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>AnalysisService</servlet-name>
        <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>AlarmService</servlet-name>
        <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>AnalyzerLinux</servlet-name>
        <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>AnalyzerWindows</servlet-name>
        <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>OldMonitor</servlet-name>
        <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>Monitor</servlet-name>
        <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>OldPlanner</servlet-name>
        <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>Planner</servlet-name>
        <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>AlarmService2</servlet-name>
        <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>AlarmService3</servlet-name>
        <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>DrugService</servlet-name>
        <url-pattern>/DrugService</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AnalysisService</servlet-name>
        <url-pattern>/AnalysisService</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AlarmService</servlet-name>
        <url-pattern>/AlarmService</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AnalyzerLinux</servlet-name>
        <url-pattern>/AnalyzerLinux</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AnalyzerWindows</servlet-name>
        <url-pattern>/AnalyzerWindows</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OldMonitor</servlet-name>
        <url-pattern>/OldMonitor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Monitor</servlet-name>
        <url-pattern>/Monitor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OldPlanner</servlet-name>
        <url-pattern>/OldPlanner</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Planner</servlet-name>
        <url-pattern>/Planner</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AlarmService2</servlet-name>
        <url-pattern>/AlarmService2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AlarmService3</servlet-name>
        <url-pattern>/AlarmService3</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
